html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #070026 !important;
}

#__next {
  height: 100%;
}

.main-container {
  height: 100%;
  color:  #cc2037 ;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.christmas-trees {
  font-size: 2rem;
}

.label {
  font-family: "MountainsOfChristmas";
  font-size: 2rem;
  font-weight: bold;
}

.time-before-christmas {
  font-family: "AmaticSC";
  font-size: 3rem;
  font-weight: bold;
}

.number {
  font-size: 4.5rem;
}
