html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #070026 !important;
}

#__next {
  height: 100%;
}

.christmas-countdown-container {
  height: 100%;
  color:  #cc2037 ;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.5px;
}

.christmas-trees {
  font-size: 2rem;
}

.label {
  font-family: "MountainsOfChristmas";
  font-weight: bold;
}

.time-before-christmas {
  font-family: "AmaticSC";
  font-weight: bold;
}

@media screen and (min-width: 300px) {
  .christmas-trees {
    font-size: 1.3rem;
  }
  
  .label {
    font-size: 1.25rem;
  }
  
  .time-before-christmas {
    font-size: 1.25rem;
  }

  .merry-christmas {
    font-size: 3rem;
  }
  
  .number {
    font-size: 2.2275rem;
  }
}

@media screen and (min-width: 350px) {
  .christmas-trees {
    font-size: 1.3rem;
  }
  
  .label {
    font-size: 1.25rem;
  }
  
  .time-before-christmas {
    font-size: 1.5rem;
  }

  .merry-christmas {
    font-size: 4rem;
  }
  
  .number {
    font-size: 2.2275rem;
  }
}

@media screen and (min-width: 378px) {
  .christmas-trees {
    font-size: 1.3rem;
  }
  
  .label {
    font-size: 1.25rem;
  }
  
  .time-before-christmas {
    font-size: 1.65rem;
  }

  .merry-christmas {
    font-size: 4rem;
  }
  
  .number {
    font-size: 2.2275rem;
  }
}

@media screen and (min-width: 400px) {
  .christmas-trees {
    font-size: 1.3rem;
  }
  
  .label {
    font-size: 1.25rem;
  }
  
  .time-before-christmas {
    font-size: 1.75rem;
  }

  .merry-christmas {
    font-size: 3rem;
  }
  
  .number {
    font-size: 2.2275rem;
  }
}

@media screen and (min-width: 500px) {
  .christmas-trees {
    font-size: 1.25rem;
  }
  
  .label {
    font-size: 1.25rem;
  }
  
  .time-before-christmas {
    font-size: 1.875rem;
  }

  .merry-christmas {
    font-size: 5.5rem;
  }
  
  .number {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 600px) {
  .label {
    font-size: 1.5rem;
  }
  
  .time-before-christmas {
    font-size: 2.25rem;
  }

  .merry-christmas {
    font-size: 6.5rem;
  }
  
  .number {
    font-size: 3.375rem;
  }
}

@media screen and (min-width: 700px) {
  .label {
    font-size: 1.5rem;
  }
  
  .time-before-christmas {
    font-size: 2.25rem;
  }

  .merry-christmas {
    font-size: 7.8rem;
  }
  
  .number {
    font-size: 3.375rem;
  }
}

@media screen and (min-width: 800px) {
  .label {
    font-size: 2rem;
  }
  
  .time-before-christmas {
    font-size: 3rem;
  }

  .merry-christmas {
    font-size: 9rem;
  }
  
  .number {
    font-size: 4.5rem;
  }
}
